@use "../abstracts/mixins";

/*---------------------------- ICON ----------------------------*/
.icon {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  transition: var(--transition-value);

  &-large {
    width: 64px;
    height: 64px;
  }

  &-arrow-right {
    background-image: url("../assets/icons/icon-arrow-right.svg");
    width: 17px;
    height: 14px;
  }

  &-cloth {
    background-image: url("../assets/icons/icon-cloth.svg");
    width: 41.2px;
    height: 34.82px;
  }

  &-search {
    background-image: url("../assets/icons/icon-search.svg");
  }

  &-user {
    background-image: url("../assets/icons/icon-user.svg");
  }

  &-cart {
    background-image: url("../assets/icons/icon-cart.svg");
  }

  &-happy {
    background-image: url("../assets/icons/icon-happy.svg");
  }

  &-guarantee {
    background-image: url("../assets/icons/icon-guarantee.svg");
  }

  &-delivery {
    background-image: url("../assets/icons/icon-delivery.svg");
  }

  &-large-delivery {
    background-image: url("../assets/icons/icon-large-delivery.svg");
  }

  &-large-transaction {
    background-image: url("../assets/icons/icon-large-transaction.svg");
  }

  &-large-guarantee {
    background-image: url("../assets/icons/icon-large-guarantee.svg");
  }

  &-large-material {
    background-image: url("../assets/icons/icon-large-material.svg");
  }

  &-facebook {
    background-image: url("../assets/icons/icon-facebook.svg");
  }

  &-instagram {
    background-image: url("../assets/icons/icon-instagram.svg");
  }

  &-linkedin {
    background-image: url("../assets/icons/icon-linkedin.svg");
  }

  &-youtube {
    background-image: url("../assets/icons/icon-youtube.svg");
  }

  &-tiktok {
    background-image: url("../assets/icons/icon-tiktok.svg");
    width: 24px;
    height: 24px;
    margin-top: -2px;
  }

  &-trash {
    background-image: url("../assets/icons/icon-trash.svg");
  }
}

.feature-icon {
  min-width: 36px;
  height: 36px;
}

.header-icon {
  min-width: 24px;
  height: 24px;
}

.social-icon {
  min-width: 20px;
  height: 20px;
}

@include mixins.mobile {
  .icon {
    &-cloth {
      width: 37.94px;
      height: 32px;
    }

    &-search {
      background-image: url("../assets/icons/icon-search-default.svg");
    }

    &-user {
      background-image: url("../assets/icons/icon-user-default.svg");
    }

    &-cart {
      background-image: url("../assets/icons/icon-cart-default.svg");
    }
  }

  .header-icon {
    width: 20px;
    height: 20px;
  }
}
