@use "mixins";

/*------------------------ COLOR ------------------------*/
.high-light {
  color: var(--error);
}

.color-primary {
  color: var(--primary);
}

/*------------------------ COMMON LAYOUT ------------------------*/
.section {
  background-color: var(--white);
  &-sub {
    background-color: var(--darker-white);
  }

  &-content {
    gap: 36px;
  }

  &-title {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    color: var(--lighter-dark);
  }

  &-hero,
  &-subscribe {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.logo-content {
  font-size: 19px;
  font-weight: 700;
  color: var(--white);
  gap: 24px;
}

.circle-background {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background-color: var(--primary);
}

@include mixins.desktop-xl {
  .container {
    max-width: calc(1440px * (80 / 100));
  }
}

@include mixins.mobile {
  .section {
    &-content {
      gap: 16px;
    }

    &-title {
      font-size: 18px;
    }
  }

  .container {
    min-width: 100vw;
    padding: 0 24px;
  }

  .logo-content {
    color: var(--lighter-dark);
    font-size: 18px;
  }

  .circle-background {
    width: 32px;
    height: 32px;
  }
}
